.formio-component-file {
  .fileSelector {
    position: relative;
    padding: 15px;
    border: 2px dashed #ddd;
    text-align: center;

    .fa {
      font-size: 20px;
      margin-right: 5px;
    }
  }
}
