@use '@/scss/bem';

.offb-table {
  // Ensures that the column widths are respected
  table-layout: fixed;
  width: 100%;

  @include bem.element('content') {
    @include bem.modifier('allow-break') {
      overflow-wrap: break-word;
      hyphens: auto;
    }
  }

  @include bem.element('col') {
    @include bem.modifier('width-25') {
      width: 25%;
    }
    @include bem.modifier('width-50') {
      width: 50%;
    }
  }
}
