.offb-drop-zone {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block-end: 32px;

  &:hover {
    border-color: #ccc;
  }

  .offb-designer-preview {
    .form-group {
      // The margin-bottom for the preview items is managed by the drop-zone component.
      margin-block-end: 0;
    }
  }

  .offb-drop-zone {
    padding-block-start: 10px;
    padding-inline: 10px;
    border: dotted 2px #e8e8e8;
  }
}
