.offb-drop-zone {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-block-start: 10px;
  padding-inline: 10px;
  padding-block-end: 32px;

  // The border color is situational. To prevent flickering, we set the initial border
  // color to transparent.
  border: dotted 2px transparent;

  .offb-designer-preview {
    .form-group {
      // The margin-bottom for the preview items is managed by the drop-zone component.
      margin-block-end: 0;
    }
  }

  .offb-drop-zone {
    border-color: #e8e8e8;
  }

  &--drag-target,
  & &--drag-target {
    border-color: #a6a6a6;
  }
}
