.signature-pad-body {
  overflow: hidden;
  position: relative;

  .btn.signature-pad-refresh {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
    padding: 3px;
    line-height: 0;
  }

  .signature-pad-footer {
    text-align: center;
    color: #c3c3c3;
  }
}
