@use '@/scss/bem';

.offb-component-group {
  summary {
    display: block;
  }

  @include bem.element('component-button') {
    color: var(--offb-component-group-component-button-color, inherit);
    font-size: var(--offb-component-group-component-button-font-size, 0.875rem);
    cursor: grab !important; // .btn styles force cursor with more specificity
  }

  @include bem.element('component-list') {
    margin: 0;
    padding: 0;
  }
}
